$linkColor: #222222;
$hoverColor: #f16d7f;
$browseBorder:  #e6e6e6;
$browseBackground: #cdcdcc;
$browseGradientOne: #f9f9f9;
$brouseGradientTwo: #f5f5f5;
$magnifier: #a4a4a4;
$myAccoutHover: #f24666;
$mainWhite: #fff;
$doubleGreyBlocks: #f2f2f2;
$leftTextFirst: #222224;
$squareColor:  #d6d6d6;
$lowerColor: #e1e1e1;
$secondLine: #898989;
$mainBlack: #000;
$endColor: #7a7a7a;
$socialIcon: #b2b2b2;
$socialActive: #ededed;
$breadcrumbs_bg: #f8f3f4;
$breadcrumbs_menu: #636363;
$cartRawBorder: #eaeaea;
$cartRawIcon: #c0c0c0;
$cartRawSpan: #656565;
$cartBasementPh: #b1b1b1;
$cartRawPic: rgba(101, 169, 200, 0.09);
$productColor: #575757;
$cartButtonsSp: #4a4a4a;
$cartButtonBtn: #ccc;
$totalBg: #f5f3f3;
$proceedBrdr: #e2e2e2;
$countryIcon: #bdbdbd;
$browseButtonBg: #f6f6f6;
$browseHoverBg: #e9e4e4;
$bannerColor: #e8e8e8;
$greyColor: #dadad2;
$headLine: #9f9f9f;
$blackNRose: #F1F1F1;
$itemHover: rgba(0, 0, 0, 0.16);
$itemPicHover: #3a3838;
$colHead: #fbfbfb;