.pic_area {
width: 100%;
height: 777px;
border: 1px solid #eaeaea;
background-color: #f7f7f7;
display: flex;
justify-content: space-between;
}

.product_pic {
width: 597px;
height: 724px;
margin: 0 auto;
}

.product_desc {
    padding-top: 73px;
    padding-bottom: 122px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: center;
    justify-content: space-between;
height: 730px;
border: 1px solid #eaeaea;
background-color: #ffffff;
margin-top: -62px;
z-index:2;
margin-bottom: 119px;
}

.collection_name {
    height: 29px;
    border: 0;
    border-bottom: 1px solid #eaeaea;
color: #f16d7f;
font-family: Lato;
font-size: 14px;
font-weight: 800;
line-height: 24px;
text-transform: uppercase;
}

.product_name {
    height: 18px;
color: #4d4d4d;
font-size: 18px;
font-weight: 800;
line-height: 24px;
text-transform: uppercase;
}

.rechtangle {
    width: 63px;
    height: 3px;
    background-color: #ef5b70;
    margin:0 auto;
    margin-top: 4px;
    
}

.about {
width: 640px;
color: #5e5e5e;
font-family: Lato;
font-size: 14px;
font-weight: 400;
line-height: 24px;
text-align: center;
}

.material_n_designer {
    display: flex;
    flex-direction: row;
font-family: Lato;
font-size: 14px;
font-weight: 800;
line-height: 24px;
text-transform: uppercase;
color: #2f2f2f;
}

.designer {
    margin-left:44px;
}

.material span, .designer span {
    color: #b9b9b9;
}

.product_price {
color: #ef5b70;
font-size: 24px;
font-weight: 700;
line-height: 24px;
}

.greystripe {
width: 642px;
height: 1px;
border: 0;
background-color: #eaeaea;
}

.threecols {
    width: 533px;
    height: 61px;
    display: flex;
    flex-direction: row;
 flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    align-content: center;
  
}

.tworows {
    width: 144px;
    height: 61px;
}

select {
    width: 144px;
    height: 35px;
    outline: 1px solid #eaeaea;
    border: 0;
    background-color: #ffffff;
    padding-left: 20px;
    color: #bcbcbc;
    
}
.choose_size select, .quantity_input input {
    width: 144px;
height: 35px;
outline: 1px solid #eaeaea;
border: 0;
background-color: #ffffff;
padding-left: 20px;
color: #bcbcbc;


}

.choose_color input{
    width: 134px;
height: 35px;
outline: 1px solid #eaeaea;
border: 0;
background-color: #ffffff;
color: #bcbcbc;
}

::-webkit-color-swatch-wrapper { border: 0 solid white; }
::-webkit-color-swatch { width:12px; height:12px; margin-top: 7px; outline:0; border:0; margin-right:90px;}


.choose_color input:focus, .choose_size select:focus, .quantity_input input:focus {
outline: 1px solid #eaeaea;
}

.choose_color option:nth-child(1){
    background-color:#cccccc;
}
.choose_color option:nth-child(2){
    background-color:#ffff00;
}
.choose_color option:nth-child(3){
    background-color:#ef5b70;
}

.choose_color option:nth-child(4){
    background-color:#8099E8;
}

.form_name {
color: #2f2f2f;
font-size: 14px;
font-weight: 800;
line-height: 24px;
text-transform: uppercase;
}

.add_red {
    padding:0;
width: 537px;
height: 55px;
border: 1px solid #ef5b70;
background-color: #ffffff;
display: flex;
justify-content: center;
align-items: center;
margin-top: 28px;
}

.add_red:hover, .add_red:focus {
    background-color: #f6f6f6;
    box-shadow: 0 5px 8px $itemHover;
    }
 .add_red:focus {
        outline: 1px solid #f24666;
 
        }
    

.youmaylike {
    margin-bottom: 13px;
}

.redcarttext {
    margin-left: 15px;
color: #ef5b70;
font-size: 16px;
font-weight: 700;
}

.also {
display: flex;
justify-content: center;
align-items: center;

margin-bottom: 72px;
}

.alsotext {
    color: #4d4d4d;
    font-size: 24px;
    font-weight: 800;
    line-height: 20px;
    text-transform: uppercase;

    }
    
  
    
    .item_pic {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        background-color: #e9e9e9;
    }

   

    .pic_twelve img {
        mix-blend-mode: multiply;
    }

    .pic_ten div {
        margin-bottom: 16px;
    }

    .pag_prev, .pag_next {
        margin-top: 365px;
width: 47px;
height: 47px;
background-color: #d8d8d8;
color: #fff;
display: flex;
flex-direction: column;
justify-content: center;
align-content: center;
align-items: center;
    }

    .pag_prev a, .pag_next a {
        margin-bottom: 17px;
        margin-top: 12px;
        width: 8px;
        height: 14px;
        color: #fff;
    }
    
    .pag_prev:hover, .pag_next:hover {
    background-color: #c0c0c0;
    color: #000;

    }

    .pag_prev i:hover, .pag_next i:hover {
    
        color: #000;
        }
