.cart_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 44px;
}

.product_details {
  width: 40%;
}

.other_columns {
  width: 60%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.other_columns div {
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.cart_raw {
  height: 162px;
  border-bottom: 1px solid #eaeaea;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cart_raw span {
  height: 13px;
  color: #656565;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}

.cart_raw i {
  color: #c0c0c0;
  height: 13px;
  width: 13px;
}

.cart_raw i:active, .cart_raw i:visited {
  color: #c0c0c0;
}

.cart_raw i:hover {
  color: #656565;
}

.cart_raw input {
  width: 54px;
  height: 30px;
  border: 1px solid #eaeaea;
}

.cart_raw input:focus, .cart_raw input:active {
  outline: none;
}

.quantity {
  /* Firefox 19+ */
  /* Firefox 18- */
}

.quantity ::-webkit-input-placeholder {
  text-align: center;
  color: #656565;
}

.quantity ::-moz-placeholder {
  text-align: center;
  color: #656565;
}

.quantity :-moz-placeholder {
  text-align: center;
  color: #656565;
}

.quantity :-ms-input-placeholder {
  text-align: center;
  color: #656565;
}

.quantity input {
  text-align: center;
}

.cart_basement input {
  padding-left: 18px;
}

.cart_basement input {
  /* Firefox 19+ */
  /* Firefox 18- */
}

.cart_basement input ::-webkit-input-placeholder {
  font-weight: 100;
  color: #b1b1b1;
}

.cart_basement input ::-moz-placeholder {
  font-weight: 100;
  color: #b1b1b1;
}

.cart_basement input :-moz-placeholder {
  font-weight: 100;
  color: #b1b1b1;
}

.cart_basement input :-ms-input-placeholder {
  font-weight: 100;
  color: #656565;
}

.cart_header {
  padding-bottom: 0;
  padding-top: 90px;
  height: 32px;
  color: #222222;
  font-size: 13px;
  font-weight: 800;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: -0.2px;
  border-bottom: 1px solid #eaeaea;
}

.cart_raw_product {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
  -webkit-justify-content: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.cart_raw_pic {
  width: 100px;
  height: 115px;
  background-color: rgba(101, 169, 200, 0.09);
  margin-top: 22px;
}

.cart_raw_pic img {
  width: 100px;
  height: 115px;
  mix-blend-mode: soft-light;
}

.product_name {
  color: #222222;
  font-size: 13px;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 18px;
}

.product_color span, .product_size span {
  font-size: 13px;
  color: #575757;
  font-weight: 800;
  text-transform: capitalize;
}

.product_color, .product_size {
  font-size: 13px;
  color: #575757;
  font-weight: 400;
  text-transform: capitalize;
}

.product_color {
  margin-top: 25px;
}

.product_size {
  margin-top: 8px;
}

.description {
  margin-top: 13px;
  margin-left: 21px;
}

.cart_form {
  width: 1140px;
}

.cart_buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 63px;
}

.cart_buttons span {
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.cart_buttons button {
  width: 235px;
  height: 50px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
}

.cart_buttons button:focus {
  outline: none !important;
}

.cart_buttons button:active {
  -webkit-box-shadow: 0 0 0 1px #ccc;
          box-shadow: 0 0 0 1px #ccc;
}

.cart_buttons button:hover {
  background-color: #e6e6e6;
}

.cart_basement {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 79px;
}

.total {
  width: 360px;
  height: 214px;
  background-color: #f5f3f3;
  position: relative;
}

.sub_total {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 101px;
  height: 12px;
  color: #4a4a4a;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  right: 43px;
  margin-top: 40px;
}

.grand_total {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 165px;
  height: 16px;
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  right: 43px;
  margin-top: 66px;
}

.proceed {
  position: absolute;
  right: 43px;
  margin-top: 105px;
  height: 68px;
  border-top: 1px solid  #e2e2e2;
}

.shipping, .coupon {
  width: 355px;
}

.cart_basement_header {
  height: 16px;
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.enter_code {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
}

.shipping_container input {
  width: 337px;
  height: 45px;
  outline: 1px solid #eaeaea;
  border: 0;
  background-color: #ffffff;
  margin-bottom: 20px;
}

.shipping_button {
  margin-top: 3px;
}

.shipping_button button {
  width: 100px;
  height: 35px;
}

.coupon_button button {
  width: 118px;
  height: 35px;
}

.shipping_button button:focus, .coupon_button button:focus {
  outline: none !important;
}

.shipping_button button:active, .coupon_button button:active {
  -webkit-box-shadow: 0 0 0 1px #ccc;
          box-shadow: 0 0 0 1px #ccc;
}

.shipping_button button:hover, .coupon_button button:hover {
  background-color: #e6e6e6;
}

.shipping_button span, .coupon_button span {
  color: #4a4a4a;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
}

.coupon_container input {
  width: 337px;
  height: 45px;
  outline: 1px solid #eaeaea;
  border: 0;
  background-color: #ffffff;
  margin-bottom: 25px;
  margin-top: 24px;
}

.cart_basement button {
  border: 1px solid #eaeaea;
  background-color: #ffffff;
}

.shipping_container {
  height: 268px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-content: space-between;
      -ms-flex-line-pack: justify;
          align-content: space-between;
}

.proceed button {
  width: 273px;
  height: 50px;
  background-color: #f16d7f;
  margin-top: 17px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.proceed button:focus {
  outline: 0;
}

.proceed button:hover {
  background-color: #f24666;
}
