

.double_grey {
    z-index: 10;
    width: 100%;
    height: 438px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 109px;
    justify-content: space-between;
    background-image: url(../img/grey.jpg);
    background-repeat: no-repeat; 
    background-position: bottom;
     background-size: cover;
     overflow: hidden;
     
}


.d_g_center {
    width: 1px;
    background-color: $mainWhite;
    height: 438px;
    margin: 0 auto;
    
}

.d_g_left,
.d_g_right {

    height: 438px;
    width: 50%;

}

.left_block {
    margin-top: -450px;

    position: absolute;
    display: flex;
}

.left_block img {
    width: 83px;
    height: 83px;
}

.d_g_blocks {
    width: 100%;
    height: 438px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 109px;
    margin-top: -547px;

    opacity: 0.5;
    justify-content: space-between;
    background-color: $doubleGreyBlocks;
}

.lady_text {
    display: flex;
    flex-direction: column;
}

.l_b_left {
    display: flex;

    margin-top: 14px;
}

.l_text_first {
    width: 386px;
    height: 68px;
    color:$leftTextFirst;
    font-size: 16px;
    font-weight: 600;
    font-style: oblique;
    line-height: 26px;
    letter-spacing: 0.4px;
    margin-left: 28px;
}

.l_text_second {

    margin-top: 19px;
    height: 27px;
    color: $hoverColor;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    margin-left: 28px;
    letter-spacing: 0.4px;
    line-height: 26px;

}

.l_text_third {
    margin-left: 28px;
    color: $leftTextFirst;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.3px;
    line-height: 14px;
}

.l_fourth {
    display: flex;
    margin-left: 28px;
    margin-top: 41px;
}

.grey_square {
    width: 38px;
    height: 4px;
    background-color: $squareColor;
}

.rose_square {
    width: 38px;
    height: 4px;
    background-color: $squareColor;
    margin-left: 13px;
    margin-right: 13px;
}

.grey_square2 {
    width: 38px;
    height: 4px;
    background-color: $squareColor;
}

.grey_square:hover,
.rose_square:hover,
.grey_square2:hover {
    background-color: $hoverColor;
}

.l_b_right {
    margin-left: 165px;
}

.upper {
    margin: 0 auto;
    width: 386px;
    margin-left: 0;
    height: 41px;
    font-weight: 500;
    margin-top: 25px;
}

.upper span {

    color:$leftTextFirst;

    font-size: 14px;


    font-size: 24px;
    letter-spacing: 0.6px;

    text-transform: uppercase;

}

.lower {
    width: 386px;
    height: 46px;
    border-radius: 23px;
    background-color: $lowerColor;
    margin-top: 35px;
    margin-left: 0;
    display: flex;
    justify-content: space-between;
}

.rose_button {
    width: 104px;
    height: 46px;
    border-radius: 0 23px 23px 0;
}

.rose_button button:hover {
    background-color: $myAccoutHover;
}

.grey_button {
    width: 156px;
    opacity: 0.67;
    color: $leftTextFirst;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;
}

.grey_button input {
    width: 252px;
    height: 46px;
    padding-left: 28px;
    border: 0;
    background-color: transparent;

   
}
/* попробовала использовать вложенность*/
.grey_button{
::-webkit-input-placeholder {
    color: $leftTextFirst;
}

::-moz-placeholder {
    color: $leftTextFirst;
}

/* Firefox 19+ */
:-moz-placeholder {
    color: $leftTextFirst;
}

/* Firefox 18- */
:-ms-input-placeholder {
    color: $leftTextFirst;
}

}
.grey_button input:focus {
   outline: 0;
}

.rose_button button {
    width: 104px;
    height: 46px;
    border-radius: 0 23px 23px 0;
    background-color: $hoverColor;
    outline: 0;
    border: 0;
    color: $mainWhite;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;

}

.rose_button button:focus {
   outline:0;
}


.scnd_logo {
    margin-bottom: 29px;
}

.scnd_line div {
    margin-bottom: 29px;
    width: 430px;
}

.many_letters {

    margin: 0 auto;
    margin-top: 123px;
    display: flex;
    justify-content: space-between;

}

.scnd_line {

    color: $secondLine;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.35px;
}

.rose_col_head {

    margin-bottom: 45px;


    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;

    letter-spacing: 0.45px;
}

.f_line a {

    color: $secondLine;

    font-size: 16px;
    font-weight: 400;

    letter-spacing: 0.4px;

}

.rose_col_head a {
    color: $hoverColor;
}

.rose_col_head a:hover {
    color: $mainBlack;
}

.f_line a:hover {
    color: $mainBlack;
}

.f_line {
    margin-bottom: 30px;
}

.f_line:last-child {
    margin-bottom: 0;
}

.footer_base {
    margin-top: 60px;
    width: 100%;
    height: 79px;
    background-color:$browseBorder;
}

.end {
    color: $endColor;
    font-size: 16px;
    font-weight: 400;
    height: 32px;
    letter-spacing: 0.4px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.end div {
    margin-top: 24px;
}

.social {
    display: flex;

}

.social div {
    width: 32px;
    height: 32px;
    background-color: $mainWhite;
}

.social a {
    margin-right: 8px;
}

.social a:last-child {
    margin-right: 0;
}

.all_rights {
    margin-top: 53px;
}


.facebook i {
    margin-top: 8px;
    margin-left: 11px;
    width: 9px;
    height: 16px;
}

.linked_in i {
    margin-top: 9px;
    margin-left: 9px;
}

.twitter i {
    margin-top: 8px;
    margin-left: 9px;
    width: 15px;
    height: 13px;
}

.pinterest i {
    margin-top: 8px;
    margin-left: 10px;
}

.google_plus i {
    margin-top: 7px;
    margin-left: 8px;
}

.social i {
    color: $socialIcon;
}

.social div:hover {
    background-color:$hoverColor;
    color: $socialIcon;
}

.social div:active {
    background-color: $socialActive;
}

.social div:link i,
.social div:visited i {
    color: $socialIcon;
}

.social div:hover i {
    color:$mainWhite;
}

.social div:active i {
    color: $socialIcon;
}

