.checkout_area {
  margin-top: 89px;
  margin-bottom: 93px;
}

.registration {
  width: 259px;
}

.headliner {
  height: 16px;
  color: #222222;
  font-size: 16px;
  font-weight: 800;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 39px;
}

.sh_ad_checkout label {
  height: 13px;
  color: #222222;
  font-size: 13px;
  font-weight: 600;
  text-align: right;
  text-transform: uppercase;
}

.convenience {
  height: 13px;
  color: #b3b2b2;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  margin-top: 15px;
}

.reg_me {
  margin-top: 34px;
  width: 152px;
  height: 44px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-content: space-between;
      -ms-flex-line-pack: justify;
          align-content: space-between;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.register_me_guest {
  width: 152px;
  height: 12px;
  width: 259px;
  color: #222222;
  font-size: 12px;
  text-transform: uppercase;
}

.register_me {
  width: 152px;
  height: 12px;
  color: #222222;
  font-size: 12px;
  text-transform: uppercase;
}

.save_time {
  height: 13px;
  color: #222222;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 33px;
}

.fast_n_easy, .easy_access {
  height: 13px;
  color: #b3b2b2;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}

.fast_n_easy {
  margin-top: 33px;
}

.easy_access {
  margin-top: 15px;
}

.fast_n_easy i, .easy_access i {
  margin-right: 4px;
  color: #b3b2b2;
}

.continue_button {
  width: 180px;
  height: 50px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  margin-top: 38px;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
