@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400&display=swap");
body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

a {
  text-decoration: none;
  color: #222222;
}

.container {
  max-width: 1142px;
  margin: 0 auto;
}

.header_upper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100px;
}

.search {
  width: 605px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 165px;
}

.logo img {
  width: 59px;
  height: 51px;
  margin-top: 25px;
}

.name {
  margin-top: 45px;
  margin-left: 13px;
  color: #222222;
  font-size: 27px;
  font-weight: 300;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 19px;
}

.browse {
  width: 87px;
  height: 39px;
}

.browse button {
  width: 87px;
  height: 39px;
  -webkit-border-radius: 3px 0 0 3px;
          border-radius: 3px 0 0 3px;
  border: 1px solid #e6e6e6;
  background-color: #f6f6f6;
  text-transform: capitalize;
  color: #222222;
  font-size: 14px;
  font-weight: 300;
  line-height: 32px;
  padding-left: 15px;
}

.browse button:hover,
.browse button:active {
  background-color: #e9e4e4;
}

.browse button:focus {
  outline: 0;
}

.browse i {
  margin-left: 8px;
}

.browse i,
.browse i:hover,
.browse i:active,
.browse i:visited,
.browse i:link {
  color: #222222;
}

.search_for_item {
  width: 317px;
  height: 38px;
  -webkit-border-radius: 0 3px 3px 0;
          border-radius: 0 3px 3px 0;
  border: 1px solid #e6e6e6;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search_for_item input:focus {
  outline: 0;
}

.magnifier {
  height: 38px;
  width: 38px;
}

.magnifier button {
  height: 38px;
  width: 38px;
  background-color: #fff;
  border: 0;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  outline: 0;
}

.magnifier button:focus {
  outline: 0;
}

.magnifier i {
  width: 14px;
  height: 14px;
  color: #a4a4a4;
}

.magnifier i:hover,
.magnifier i:link,
.magnifier i:active,
.magnifier i:visited {
  color: #a4a4a4;
}

.search_form input {
  width: 280px;
  height: 38px;
  border: 0;
  padding-left: 15px;
}

::-webkit-input-placeholder {
  color: #a4a4a4;
}

::-moz-placeholder {
  color: #a4a4a4;
}

/* Firefox 19+ */
:-moz-placeholder {
  color: #a4a4a4;
}

/* Firefox 18- */
:-ms-input-placeholder {
  color: #a4a4a4;
}

.letter {
  color: #f16d7f;
  font-weight: 900;
}

.search_pannel {
  max-width: 403px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 32px;
}

.account {
  max-width: 188px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart img {
  width: 32px;
  height: 29px;
  margin-top: 40px;
}

.my_account {
  width: 130px;
  height: 38px;
  margin-left: 26px;
  margin-top: 31px;
}

.my_account button {
  width: 130px;
  height: 38px;
  background-color: #f16d7f;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.38px;
  padding-left: 19px;
  text-transform: capitalize;
  border: 0;
}

.my_account button a {
  color: #fff;
}

.my_account button:hover,
.my_account button:active {
  background-color: #f24666;
}

.my_account button:focus {
  outline: 0;
}

.my_account i {
  margin-left: 8px;
}

.my_account i,
i:hover,
i:visited,
i:link,
i:active {
  color: #fff;
}

.navmenu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 680px;
  height: 51px;
  color: #222222;
  background-color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 10px;
  text-transform: uppercase;
}

.navmenu a:link,
a:visited {
  margin-top: 19px;
  color: #222222;
}

.navmenu a:hover,
a:active {
  color: #f16d7f;
}

.breadcrumbs {
  width: 100%;
  height: 148px;
  background-color: #f8f3f4;
}

.breadcrumbs_container {
  width: 1142px;
  height: 18px;
  margin: 0 auto;
  padding-top: 65px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.breadcrumbs_active a {
  color: #f16d7f;
  font-size: 24px;
  font-weight: 800;
  line-height: 20px;
  text-transform: uppercase;
}

.breadcrumbs_menu a {
  color: #636363;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
}

.breadcrumbs_menu a:hover {
  color: #f16d7f;
}

.breadcrumbs_menu span a {
  color: #f16d7f;
  font-size: 14px;
  font-weight: 700;
}

.double_grey {
  z-index: 10;
  width: 100%;
  height: 438px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-bottom: 109px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: url(../img/grey.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  -webkit-background-size: cover;
          background-size: cover;
  overflow: hidden;
}

.d_g_center {
  width: 1px;
  background-color: #fff;
  height: 438px;
  margin: 0 auto;
}

.d_g_left,
.d_g_right {
  height: 438px;
  width: 50%;
}

.left_block {
  margin-top: -450px;
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.left_block img {
  width: 83px;
  height: 83px;
}

.d_g_blocks {
  width: 100%;
  height: 438px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-bottom: 109px;
  margin-top: -547px;
  opacity: 0.5;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f2f2f2;
}

.lady_text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.l_b_left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 14px;
}

.l_text_first {
  width: 386px;
  height: 68px;
  color: #222224;
  font-size: 16px;
  font-weight: 600;
  font-style: oblique;
  line-height: 26px;
  letter-spacing: 0.4px;
  margin-left: 28px;
}

.l_text_second {
  margin-top: 19px;
  height: 27px;
  color: #f16d7f;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  margin-left: 28px;
  letter-spacing: 0.4px;
  line-height: 26px;
}

.l_text_third {
  margin-left: 28px;
  color: #222224;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.3px;
  line-height: 14px;
}

.l_fourth {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 28px;
  margin-top: 41px;
}

.grey_square {
  width: 38px;
  height: 4px;
  background-color: #d6d6d6;
}

.rose_square {
  width: 38px;
  height: 4px;
  background-color: #d6d6d6;
  margin-left: 13px;
  margin-right: 13px;
}

.grey_square2 {
  width: 38px;
  height: 4px;
  background-color: #d6d6d6;
}

.grey_square:hover,
.rose_square:hover,
.grey_square2:hover {
  background-color: #f16d7f;
}

.l_b_right {
  margin-left: 165px;
}

.upper {
  margin: 0 auto;
  width: 386px;
  margin-left: 0;
  height: 41px;
  font-weight: 500;
  margin-top: 25px;
}

.upper span {
  color: #222224;
  font-size: 14px;
  font-size: 24px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.lower {
  width: 386px;
  height: 46px;
  -webkit-border-radius: 23px;
          border-radius: 23px;
  background-color: #e1e1e1;
  margin-top: 35px;
  margin-left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rose_button {
  width: 104px;
  height: 46px;
  -webkit-border-radius: 0 23px 23px 0;
          border-radius: 0 23px 23px 0;
}

.rose_button button:hover {
  background-color: #f24666;
}

.grey_button {
  width: 156px;
  opacity: 0.67;
  color: #222224;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
}

.grey_button input {
  width: 252px;
  height: 46px;
  padding-left: 28px;
  border: 0;
  background-color: transparent;
}

/* попробовала использовать вложенность*/
.grey_button {
  /* Firefox 19+ */
  /* Firefox 18- */
}

.grey_button ::-webkit-input-placeholder {
  color: #222224;
}

.grey_button ::-moz-placeholder {
  color: #222224;
}

.grey_button :-moz-placeholder {
  color: #222224;
}

.grey_button :-ms-input-placeholder {
  color: #222224;
}

.grey_button input:focus {
  outline: 0;
}

.rose_button button {
  width: 104px;
  height: 46px;
  -webkit-border-radius: 0 23px 23px 0;
          border-radius: 0 23px 23px 0;
  background-color: #f16d7f;
  outline: 0;
  border: 0;
  color: #fff;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
}

.rose_button button:focus {
  outline: 0;
}

.scnd_logo {
  margin-bottom: 29px;
}

.scnd_line div {
  margin-bottom: 29px;
  width: 430px;
}

.many_letters {
  margin: 0 auto;
  margin-top: 123px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.scnd_line {
  color: #898989;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.35px;
}

.rose_col_head {
  margin-bottom: 45px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 0.45px;
}

.f_line a {
  color: #898989;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
}

.rose_col_head a {
  color: #f16d7f;
}

.rose_col_head a:hover {
  color: #000;
}

.f_line a:hover {
  color: #000;
}

.f_line {
  margin-bottom: 30px;
}

.f_line:last-child {
  margin-bottom: 0;
}

.footer_base {
  margin-top: 60px;
  width: 100%;
  height: 79px;
  background-color: #e6e6e6;
}

.end {
  color: #7a7a7a;
  font-size: 16px;
  font-weight: 400;
  height: 32px;
  letter-spacing: 0.4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.end div {
  margin-top: 24px;
}

.social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.social div {
  width: 32px;
  height: 32px;
  background-color: #fff;
}

.social a {
  margin-right: 8px;
}

.social a:last-child {
  margin-right: 0;
}

.all_rights {
  margin-top: 53px;
}

.facebook i {
  margin-top: 8px;
  margin-left: 11px;
  width: 9px;
  height: 16px;
}

.linked_in i {
  margin-top: 9px;
  margin-left: 9px;
}

.twitter i {
  margin-top: 8px;
  margin-left: 9px;
  width: 15px;
  height: 13px;
}

.pinterest i {
  margin-top: 8px;
  margin-left: 10px;
}

.google_plus i {
  margin-top: 7px;
  margin-left: 8px;
}

.social i {
  color: #b2b2b2;
}

.social div:hover {
  background-color: #f16d7f;
  color: #b2b2b2;
}

.social div:active {
  background-color: #ededed;
}

.social div:link i,
.social div:visited i {
  color: #b2b2b2;
}

.social div:hover i {
  color: #fff;
}

.social div:active i {
  color: #b2b2b2;
}

.cart_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 44px;
}

.first_line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1140px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #eaeaea;
}

.other_columns_new {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  border-bottom: 1px solid #eaeaea;
}

.product_details {
  width: 40%;
}

.other_columns {
  width: 60%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.other_columns div {
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.cart_raw {
  height: 162px;
  border-bottom: 1px solid #eaeaea;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.second_line {
  height: 162px;
}

.cart_raw span {
  height: 13px;
  color: #656565;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}

.cart_raw i {
  color: #c0c0c0;
  height: 13px;
  width: 13px;
}

.cart_raw i:active, .cart_raw i:visited {
  color: #c0c0c0;
}

.cart_raw i:hover {
  color: #656565;
}

.cart_raw input {
  width: 54px;
  height: 30px;
  border: 1px solid #eaeaea;
}

.cart_raw input:focus, .cart_raw input:active {
  outline: none;
}

.quantity {
  /* Firefox 19+ */
  /* Firefox 18- */
}

.quantity ::-webkit-input-placeholder {
  text-align: center;
  color: #656565;
}

.quantity ::-moz-placeholder {
  text-align: center;
  color: #656565;
}

.quantity :-moz-placeholder {
  text-align: center;
  color: #656565;
}

.quantity :-ms-input-placeholder {
  text-align: center;
  color: #656565;
}

.quantity input {
  text-align: center;
}

.cart_basement input {
  padding-left: 18px;
}

.cart_basement input {
  /* Firefox 19+ */
  /* Firefox 18- */
}

.cart_basement input ::-webkit-input-placeholder {
  font-weight: 100;
  color: #b1b1b1;
}

.cart_basement input ::-moz-placeholder {
  font-weight: 100;
  color: #b1b1b1;
}

.cart_basement input :-moz-placeholder {
  font-weight: 100;
  color: #b1b1b1;
}

.cart_basement input :-ms-input-placeholder {
  font-weight: 100;
  color: #b1b1b1;
}

.cart_header {
  padding-bottom: 0;
  padding-top: 90px;
  height: 32px;
  color: #222222;
  font-size: 13px;
  font-weight: 800;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: -0.2px;
  border-bottom: 1px solid #eaeaea;
}

.cart_header_new {
  padding-bottom: 0;
  padding-top: 90px;
  height: 32px;
  color: #222222;
  font-size: 13px;
  font-weight: 800;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: -0.2px;
}

.cart_raw_product {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
  -webkit-justify-content: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-top: -90px;
}

.cart_raw_pic {
  width: 100px;
  height: 115px;
  background-color: rgba(101, 169, 200, 0.09);
  margin-top: 22px;
}

.cart_raw_pic img {
  width: 100px;
  height: 115px;
  mix-blend-mode: soft-light;
}

.product_name {
  color: #222222;
  font-size: 13px;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 18px;
}

.product_name a:hover {
  color: #f16d7f;
}

.product_color span, .product_size span {
  font-size: 13px;
  color: #575757;
  font-weight: 800;
  text-transform: capitalize;
}

.product_color, .product_size {
  font-size: 13px;
  color: #575757;
  font-weight: 400;
  text-transform: capitalize;
}

.product_color {
  margin-top: 25px;
}

.product_size {
  margin-top: 8px;
}

.description {
  margin-top: 13px;
  margin-left: 21px;
}

.cart_form {
  width: 1140px;
}

.cart_buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 63px;
  margin-top: 44px;
}

.cart_buttons span {
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.cart_buttons button {
  width: 235px;
  height: 50px;
  border: 1px solid #eaeaea;
  background-color: #fff;
}

.cart_buttons button:focus {
  outline: none !important;
}

.cart_buttons button:active {
  -webkit-box-shadow: 0 0 0 1px #ccc;
          box-shadow: 0 0 0 1px #ccc;
}

.cart_buttons button:hover {
  background-color: #e6e6e6;
}

.cart_basement {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 79px;
}

.total {
  width: 360px;
  height: 214px;
  background-color: #f5f3f3;
  position: relative;
}

.sub_total {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 101px;
  height: 12px;
  color: #4a4a4a;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  right: 43px;
  margin-top: 40px;
}

.grand_total {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 165px;
  height: 16px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  right: 43px;
  margin-top: 66px;
}

.grand_total_left {
  color: #222222;
}

.grand_total_right {
  color: #f16d7f;
}

.proceed {
  position: absolute;
  right: 43px;
  margin-top: 105px;
  height: 68px;
  border-top: 1px solid #e2e2e2;
}

.shipping, .coupon {
  width: 355px;
}

.cart_basement_header {
  height: 16px;
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.enter_code {
  color: #000;
  font-size: 14px;
  font-weight: 400;
}

.shipping_container input {
  width: 337px;
  height: 45px;
  outline: 1px solid #eaeaea;
  border: 0;
  background-color: #fff;
  margin-bottom: 20px;
}

.country_select {
  width: 357px;
  height: 47px;
  outline: 1px solid #eaeaea;
  border: 0;
  background-color: #fff;
  margin-bottom: 20px;
  /* -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;*/
}

.postcode input::-webkit-outer-spin-button,
.postcode input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.shipping_button {
  margin-top: 3px;
}

.shipping_button button {
  width: 100px;
  height: 35px;
}

.coupon_button button {
  width: 118px;
  height: 35px;
}

.shipping_button button:focus, .coupon_button button:focus {
  outline: none !important;
}

.shipping_button button:active, .coupon_button button:active {
  -webkit-box-shadow: 0 0 0 1px #ccc;
          box-shadow: 0 0 0 1px #ccc;
}

.shipping_button button:hover, .coupon_button button:hover {
  background-color: #e6e6e6;
}

.shipping_button span, .coupon_button span {
  color: #4a4a4a;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
}

.coupon_container input {
  width: 337px;
  height: 45px;
  outline: 1px solid #eaeaea;
  border: 0;
  background-color: #fff;
  margin-bottom: 25px;
  margin-top: 24px;
}

.cart_basement button {
  border: 1px solid #eaeaea;
  background-color: #fff;
}

.shipping_container {
  height: 288px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-content: space-between;
      -ms-flex-line-pack: justify;
          align-content: space-between;
}

.proceed button {
  width: 273px;
  height: 50px;
  background-color: #f16d7f;
  margin-top: 17px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.proceed button:focus {
  outline: 0;
}

.proceed button:hover {
  background-color: #f24666;
}

.country i, .country i:hover, .country i:active, .country i:link, .country i:focus {
  width: 9px;
  height: 6px;
  color: #bdbdbd;
  z-index: 10;
  z-index: 1;
  margin-top: 15px;
  position: absolute;
  margin-left: 334px;
}

.banner {
  width: 100%;
  height: 613px;
  background-color: #e8e8e8;
  margin: 0 auto;
  overflow: hidden;
}

.banner_inner {
  width: 100%;
  height: 613px;
  z-index: 2;
  background-image: url(../img/figure.png);
  background-repeat: no-repeat;
  background-position: 100% 10%;
}

.slogan {
  z-index: 2;
  height: 92px;
  margin: 0 auto;
  margin-top: -440px;
  color: #222222;
}

.brand {
  font-size: 60px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 70px;
}

.luxerous {
  margin-top: -10px;
  color: #222222;
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 40px;
}

.fashion {
  color: #f16d7f;
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 40px;
}

.stick {
  width: 12px;
  height: 92px;
  background-color: #f16d7f;
  float: left;
  margin-right: 12px;
  margin-top: 12px;
}

.four_pics {
  height: 829px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 487px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
  -webkit-align-content: space-between;
      -ms-flex-line-pack: justify;
          align-content: space-between;
  padding: 0;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.for_men {
  background-image: url(../img/pic1.jpg);
  background-repeat: no-repeat;
  width: 560px;
  height: 542px;
}

.grey {
  background-color: #dadad2;
  width: 560px;
  height: 263px;
  background-image: url(../img/pic2.jpg);
  background-repeat: no-repeat;
  background-position: right;
}

.third {
  background-image: url(../img/pic3.jpg);
  background-repeat: no-repeat;
  width: 560px;
  height: 261px;
}

.last {
  background-image: url(../img/pic4.jpg);
  background-repeat: no-repeat;
  width: 560px;
  height: 542px;
}

.featured {
  text-transform: capitalize;
  color: #222222;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  margin: 0 auto;
}

.shop_for {
  margin-top: 16px;
  color: #9f9f9f;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: 59px;
  letter-spacing: 0.75px;
}

.black {
  color: #222222;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 18px;
  margin-left: 19px;
  padding-top: 16px;
}

.rose {
  color: #f16d7f;
  font-size: 30px;
  line-height: 30px;
  font-weight: 800;
  text-transform: uppercase;
  margin-left: 19px;
}

.black_n_rose {
  margin-top: 26px;
  position: absolute;
  height: 82px;
  width: auto;
  background-color: #fff;
  padding-right: 19px;
}

.black_n_rose:hover {
  background-color: #F1F1F1;
}

.black_n_rose_inner {
  height: 50px;
  width: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: space-between;
  -webkit-align-items: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  padding: 0;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.eight_items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: auto;
}

.item {
  width: 263px;
  height: 364px;
  margin-bottom: 39px;
}

.item_hover {
  opacity: 0;
}

.item_pic {
  width: 263px;
  height: 280px;
}

.pic_one {
  background-image: url(../img/Layer_2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.pic_two {
  background-image: url(../img/Layer_3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.pic_three {
  background-image: url(../img/Layer_4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.pic_four {
  background-image: url(../img/Layer_5.jpg);
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.pic_five {
  background-image: url(../img/Layer_6.jpg);
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.pic_six {
  background-image: url(../img/Layer_7.jpg);
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.pic_seven {
  background-image: url(../img/Layer_8.jpg);
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.pic_eight {
  background-image: url(../img/Layer_9.jpg);
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.item_name {
  margin-left: 15px;
  margin-top: 16px;
  color: #222222;
  line-height: 13px;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}

.item_price {
  margin-left: 15px;
  margin-top: 17px;
  line-height: 16px;
  color: #f16d7f;
  font-family: Lato;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
}

.capsule {
  opacity: 1;
}

.item:hover {
  opacity: 1;
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.item_pic:hover {
  background-color: #3a3838;
  opacity: 1;
}

.capsule2 {
  margin-top: -343px;
  width: 263px;
  height: 364px;
  opacity: 0;
  z-index: 3;
}

.capsule2:hover {
  opacity: 0.7;
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.item_name:hover,
item_price:hover {
  opacity: 1;
  z-index: 2;
}

.cover {
  width: 263px;
  height: 281px;
  background-color: #3a3838;
}

.button_white {
  width: 123px;
  height: 39px;
  border: 1px solid #fff;
  z-index: 4;
  margin-top: 98px;
  margin-left: 70px;
  position: absolute;
}

.button_white:hover {
  -webkit-box-shadow: 2px 2px 8px #fff;
          box-shadow: 2px 2px 8px #fff;
}

.add_to {
  line-height: 13px;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  margin-left: 43px;
  margin-right: 12px;
  margin-top: 12px;
  position: absolute;
}

.cart2 {
  margin-left: 12px;
  margin-top: 9px;
  float: left;
  position: absolute;
}

.button_rose {
  width: 212px;
  height: 48px;
  background-color: #f16d7f;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 113px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

.button_rose i {
  margin-left: 9px;
}

.button_white_text button i {
  margin-left: 9px;
}

.button_white_text {
  margin-top: 13px;
  position: absolute;
  height: 16px;
  margin-left: 24px;
}

.button_rose:hover,
.button_rose:active {
  background-color: #f24666;
}

.offer {
  height: 529px;
  background-color: #222224;
  margin-bottom: 97px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.offer_pic {
  width: 767px;
  height: 529px;
  background-image: url(../img/offer.jpg);
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.offer_items {
  margin-top: 55px;
  width: 373px;
  height: 415px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offer_row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.left_col {
  width: 157px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.left_col_inner {
  width: 120px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sales img {
  width: 40px;
  height: 40px;
}

.delivery img {
  width: 45px;
  height: 32px;
}

.quality img {
  width: 47px;
  height: 35px;
}

.right_col {
  width: 305px;
  height: 156px;
  text-align: justify-all;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.right_col_inner {
  width: 305px;
  height: 98px;
  text-align: justify-all;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.col_head {
  height: 20px;
  width: 219px;
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
  /*margin-bottom: 10px;*/
}

.col_text {
  width: 219px;
  height: 68px;
  overflow: hidden;
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

.offer_header {
  width: 320px;
  height: 78px;
  z-index: 5;
  position: absolute;
  margin-top: 138px;
  margin-left: 35px;
}

.major {
  letter-spacing: 1.5px;
  color: #fff;
  font-size: 54px;
  font-weight: 700;
  line-height: 54px;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.major span {
  color: #f16d7f;
}

.major span:hover {
  color: #f24666;
}

.minor {
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 0.9px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

.pic_area {
  width: 100%;
  height: 777px;
  border: 1px solid #eaeaea;
  background-color: #f7f7f7;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product_pic {
  width: 597px;
  height: 690px;
  margin: 0 auto;
  overflow: hidden;
}

.product_pic img {
  width: 597px;
  height: 724px;
}

.product_desc {
  padding-top: 73px;
  padding-bottom: 122px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 730px;
  border: 1px solid #eaeaea;
  background-color: #fff;
  margin-top: -92px;
  margin-bottom: 119px;
  z-index: 999;
}

.collection_name {
  height: 29px;
  border: 0;
  border-bottom: 1px solid #eaeaea;
  color: #f16d7f;
  font-family: Lato;
  font-size: 14px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
}

.product_name {
  height: 18px;
  color: #4d4d4d;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
}

.rechtangle {
  width: 63px;
  height: 3px;
  background-color: #ef5b70;
  margin: 0 auto;
  margin-top: 4px;
}

.about {
  width: 640px;
  color: #5e5e5e;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.material_n_designer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: Lato;
  font-size: 14px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
  color: #2f2f2f;
}

.designer {
  margin-left: 44px;
}

.material span, .designer span {
  color: #b9b9b9;
}

.product_price {
  color: #ef5b70;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

.greystripe {
  width: 642px;
  height: 1px;
  border: 0;
  background-color: #eaeaea;
}

.threecols {
  width: 533px;
  height: 61px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
}

.tworows {
  width: 144px;
  height: 61px;
}

select {
  width: 144px;
  height: 35px;
  outline: 1px solid #eaeaea;
  border: 0;
  background-color: #fff;
  padding-left: 20px;
  color: #2f2f2f;
}

.choose_size {
  width: 144px;
  height: 35px;
  outline: 1px solid #eaeaea;
  border: 0;
  background-color: #fff;
  padding-left: 20px;
  color: #2f2f2f;
}

.quantity_input input {
  width: 144px;
  height: 35px;
  outline: 1px solid #eaeaea;
  border: 0;
  background-color: #fff;
  padding-left: 20px;
  color: #2f2f2f;
}

.choose_color input {
  width: 134px;
  height: 35px;
  outline: 1px solid #eaeaea;
  border: 0;
  background-color: #fff;
  color: #2f2f2f;
}

::-webkit-color-swatch-wrapper {
  border: 0 solid white;
}

::-webkit-color-swatch {
  width: 12px;
  height: 12px;
  margin-top: 7px;
  outline: 0;
  border: 0;
  margin-right: 90px;
}

.choose_color input:focus, .choose_size select:focus, .quantity_input input:focus {
  outline: 1px solid #eaeaea;
}

.choose_color option:nth-child(1) {
  background-color: #ccc;
}

.choose_color option:nth-child(2) {
  background-color: #ffff00;
}

.choose_color option:nth-child(3) {
  background-color: #ef5b70;
}

.choose_color option:nth-child(4) {
  background-color: #8099E8;
}

.form_name {
  color: #2f2f2f;
  font-size: 14px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
}

.add_red {
  padding: 0;
  width: 537px;
  height: 55px;
  border: 1px solid #ef5b70;
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 28px;
}

.add_red:hover, .add_red:focus {
  background-color: #f6f6f6;
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.add_red:focus {
  outline: 1px solid #f24666;
}

.youmaylike {
  margin-bottom: 13px;
}

.redcarttext {
  margin-left: 15px;
  color: #ef5b70;
  font-size: 16px;
  font-weight: 700;
}

.also {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 72px;
}

.alsotext {
  color: #4d4d4d;
  font-size: 24px;
  font-weight: 800;
  line-height: 20px;
  text-transform: uppercase;
}

.item_pic {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  background-color: #e9e9e9;
}

.pic_twelve img {
  mix-blend-mode: multiply;
}

.pic_ten div {
  margin-bottom: 16px;
}

.pag_prev, .pag_next {
  margin-top: 365px;
  width: 47px;
  height: 47px;
  background-color: #d8d8d8;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.pag_prev a, .pag_next a {
  margin-bottom: 17px;
  margin-top: 12px;
  width: 8px;
  height: 14px;
  color: #fff;
}

.pag_prev:hover, .pag_next:hover {
  background-color: #c0c0c0;
  color: #000;
}

.pag_prev i:hover, .pag_next i:hover {
  color: #000;
}

.checkout {
  border-bottom: 1px solid #e8e8e8;
}

.checkout_area {
  max-width: 974px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.registration {
  width: 396px;
  height: 342px;
  margin-bottom: 79px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.headliner {
  margin-top: 39px;
  margin-bottom: 39px;
  height: 16px;
  color: #222222;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
}

.sh_ad_checkout label {
  height: 13px;
  color: #222222;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}

.convenience {
  height: 13px;
  color: #b3b2b2;
  font-size: 13px;
  font-weight: 400;
  text-align: left;
}

.reg_me {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-content: space-between;
      -ms-flex-line-pack: justify;
          align-content: space-between;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.register_me_guest label {
  margin-left: 14px;
  color: #222222;
  font-size: 12px;
  text-transform: uppercase;
}

.register_me label {
  margin-left: 14px;
  color: #222222;
  font-size: 12px;
  text-transform: uppercase;
}

.register_me_guest, .register_me {
  height: 12px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
}

.save_time {
  color: #222222;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}

.fast_n_easy, .easy_access {
  color: #b3b2b2;
  font-size: 13px;
  font-weight: 400;
  text-align: left;
}

.fast_n_easy i, .easy_access i {
  margin-right: 4px;
  color: #b3b2b2;
}

.continue_button {
  width: 180px;
  height: 50px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.continue_button:focus {
  outline: none !important;
}

.continue_button:active {
  -webkit-box-shadow: 0 0 0 1px #ccc;
          box-shadow: 0 0 0 1px #ccc;
}

.continue_button:hover {
  background-color: #e6e6e6;
}

.email_addr label, .paswrd label {
  height: 12px;
  color: #222222;
  font-size: 12px;
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
}

.email_addr span, .paswrd span {
  color: #ff0d0d;
}

.email_addr_input, .passwrd_input {
  width: 390px;
  height: 45px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
}

.email_addr_input:focus, .passwrd_input:focus {
  outline: none;
}

.forgot {
  height: 14px;
  color: #222222;
  font-size: 14px;
  font-weight: 500;
}

.required_fields {
  height: 13px;
  color: #ff0d0d;
  font-size: 13px;
  font-weight: 600;
}

.button_area {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 323px;
  height: 50px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.email_block, .pswrd_block {
  width: 391px;
  height: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-content: space-between;
      -ms-flex-line-pack: justify;
          align-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.required_block {
  width: 391px;
  height: 197px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-content: space-between;
      -ms-flex-line-pack: justify;
          align-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.access_block {
  height: 39px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-content: space-between;
      -ms-flex-line-pack: justify;
          align-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.register_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-content: space-between;
      -ms-flex-line-pack: justify;
          align-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.radio_block {
  height: 44px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-content: space-between;
      -ms-flex-line-pack: justify;
          align-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.check_or_reg_block {
  height: 38px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-content: space-between;
      -ms-flex-line-pack: justify;
          align-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.billing_chechout,
.shipping_checkout,
.method_checkout,
.payment_checkout,
.order_review {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #e8e8e8;
  height: 72px;
}

.checkout_header {
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.kostyl {
  width: 11px;
  height: 11px;
  margin-right: -19px;
  border: 2px solid #555555;
  -webkit-border-radius: 35px;
          border-radius: 35px;
  z-index: -1;
}
